@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@keyframes neon {
    0% {
        text-shadow: 0 0 10px black;
        
    }
    
    20% {
        text-shadow: 0 0 10px red;
        transform: rotate(5deg);
    }

    40% {
        text-shadow: 0 0 10px green;
    }

    60% {
        text-shadow: 0 0 10px yellow;
        transform: rotate(0deg);
    }

    80% {
        text-shadow: 0 0 10px orange;
    }

    100% {
        text-shadow: 0 0 10px blue;
        transform: rotate(-5deg);
    }
}

*{
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    background-image: url(../pics/background.png);
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0;
}
#wrapper {
    background-color:rgba(71, 193, 232, 0.4);
}
/*EN-TETE INDEX*/
#myheader {
    display: flex;
    margin: 0rem 0 2rem 0;
}

#myheader>div {
    text-align: center;
}

#name {
    width: 80%;
}
#name h1 {
    height: 6rem;
    line-height: 6rem;
    animation:neon 3s infinite alternate;
}

#logo {
    width: 20%;
}

#logo img {
    width: 6rem;
}

/*MENU*/
#menu {
    margin: 0rem 0 2rem 0;
}
#menu .items {
    display: flex;
    list-style-type:none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu .items li a {
    display: inline-block;
    text-decoration: none;
    border:lightskyblue ridge .3rem;
    background-color: white;
    color: blue;
    box-shadow: 0 0 1.5rem grey;
    padding: .4rem;
    border-radius: 15%;
    transition: all .5s ease 0s;
}

#menu .items li a:hover {
    border:white ridge  .3rem;
    background-color: blue;
    color: white;
    box-shadow: none;
    
}

/*TEAM MEMBERS*/

#emps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: auto; 
}
.emp {
    width: 200px;
    height: 250px;
    text-align: center;
}

#emps .emp .member{
    border-radius: 50%;
    border: ridge 1rem;
    width: 150px;
    transition:transform 0.5s;
}
#emps .emp .member.F{
    border-color:pink;
}
#emps .emp .member.F:hover{
    transform: scale(1.25) rotate(-30deg);
}


#emps .emp .member.M{
    border-color: lightskyblue;
}

#emps .emp .member.M:hover{
    transform: scale(1.25) rotate(30deg);
}

#emps .emp .member:hover {
    border-color: black;
    cursor: pointer;

}

/*ARTICLE*/

#media {
    display: flex;
    justify-content:center;
    width: 100%;
    margin: 0rem 0 2rem 0;
}

#media .interview {
    width: 30%;
}

.titlearticle {
    margin-bottom: 3rem;
    text-align: center;
    color: red;
}

#media .lecteurs {
    width: 100%;
}

/*FOOTER*/

#bottom {
    background-color: black;
    color: white;
}

#bottom ul {
    list-style-type: none;
    padding: 0;
}

#bottom .level1 {
    display: flex;
    justify-content: center;
}
 #bottom .level1>li {
    margin: 1rem 0;
    padding: 0 2rem;
    border-left: dotted white .25rem;
 }

 #bottom .level1>li:first-child{
     border-left: none;
     
 }

 #bottom h2 {
     text-transform: uppercase;
     padding: 1rem 0;
 }

 #bottom a {
     color: white;
     text-decoration: none;
 }


/* FORM */

form div>*:first-child{
    width: 25%;
    font-weight: bold;
    text-align: right;
    display: inline-block;
 }

 form div {
    margin: .5 0;
}
 fieldset {
     width: 80%;
    margin: auto;
    margin-bottom: 2%;
 }

.formu h1 {
     text-align: center;
 }
 




